@page "/room-categories"
@using RMS.Client.Client
@using RMS.Client.Pages.GridComponent
@using RMS.Client.Shared.Popup
@using Microsoft.AspNetCore.Components.Authorization
@inject AppClient client
@inject IJSRuntime JSRuntime
@inject NavigationManager NavigationManager
@inject PermissionService PermissionService
@attribute [Authorize]

<div class="page-header breadcumb-sticky">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">
                        Room Categories
                        @if (canEdit || hasFullAccess)
                        {
                            <a @onclick="()=>show=true" style="cursor:pointer">
                                <i class="fa fa-plus-circle fa-lg text-primary" aria-hidden="true" title="Add Room"></i>
                            </a>
                        }
                    </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a>Room</a></li>
                    <li class="breadcrumb-item"><a>Categories</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

@if (canView)
{
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="card-body p-2 mt-n3">
                <div class="card text">
                    <div class="card-body">
                        <RoomCategoryGrid />
                    </div>
                </div>
            </div>
        </div>
    </div>
}
else
{
    <div class="col-sm-12">
        @* <p>You do not have permission to view this page.</p> *@
    </div>
}

<SimpleDailog Title="@Title" Show="@show" OnCloseDialog="ResetForm">
    @if (show)
    {
        <EditForm Model="model" OnValidSubmit="OnSave">
            <DataAnnotationsValidator />
            <div>
                <input type="text" placeholder="Enter Category" @bind-value="model.Name" class="form-control mb-2" />
                <ValidationMessage For="() => model.Name" />
            </div>
            @if (process)
            {
                <div style="text-align:center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            }
            <UiAlert Model="alert"></UiAlert>
            <hr />
            <button type="submit" class="btn btn-primary float-right col-md-4">Add</button>
        </EditForm>
        <br />
    }
</SimpleDailog>

@code {
    [Parameter]
    public int Id { get; set; }

    [CascadingParameter]
    protected AlertModel? alert { get; set; }

    RoomCategories model = new();
    public string Title = "Add Room Category";
    bool show = false;
    bool process = false;
    private Timer _timer;
    private int _delay = 2500;

    private static bool canView = false;
    private static bool canEdit = false;
    private static bool hasFullAccess = false;

    protected override async Task OnInitializedAsync()
    {
        alert?.Clear();

        try
        {
            var permissions = await PermissionService.HasPermission("RoomCategories");
            if (permissions != null)
            {
                canView = permissions.CanView;
                canEdit = permissions.CanEdit;
                hasFullAccess = permissions.HasFullAccess;
            }

            if (!canView)
            {
                // Redirect or handle unauthorized access
                NavigationManager.NavigateTo("/unauthorized");
                return;
            }
        }
        catch (Exception ex)
        {
            // Log error and handle exception if needed
            Console.Error.WriteLine($"Error: {ex.Message}");
        }
    }

    public async Task OnSave()
    {
        process = true;
        alert?.Clear();

        var response = await client.UpsertRoomCategoryAsync(model);
        if (response.IsSuccess)
        {
            await RoomCategoryGrid.RefreshGridAsync();
            alert?.SetSuccess(response.Message);
            model = new();
        }
        else
            alert?.SetError(response.Message);

        process = false;
        StateHasChanged();
        _timer = new Timer(TimerCallback, null, _delay, Timeout.Infinite);
    }

    private void TimerCallback(Object o)
    {
        alert?.Clear();
        _timer.Dispose();
        StateHasChanged();
    }

    private void ResetForm()
    {
        model = new();
        show = false;
        process = false;
    }

    public void OnClose()
    {
        model = new();
    }
}
