@using GridBlazor
@using GridBlazor.Pages
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using RMS.Client.Pages.GridButton
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-sm-12">
            <GridComponent @ref="Component" T="EmployeeAttendance" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <div class="col-sm-12" style="margin-top:40vh">
        <div class="loader-progress"></div>
    </div>
}

@code
{
    private CGrid<EmployeeAttendance> _grid;
    private Task _task;
    private static GridComponent<EmployeeAttendance> Component;
    static bool filter = true;
    static AuthenticationState authState;

    Action<IGridColumnCollection<EmployeeAttendance>> columns = c =>
    {

        c.Add(o => o.Id).Css("table-bordered").Titled("SN.").Filterable(filter);
        c.Add(o => o.EmployeeName).Css("table-bordered").Titled("Name").Filterable(filter);
        c.Add(o => o.EmpId).Css("table-bordered").Titled("Empl. Id").Filterable(filter);
        c.Add(o => o.Date).Css("table-bordered").Filterable(filter);
        c.Add(o => o.CheckIn)
       .Css("table-bordered")
       .Filterable(filter)
       .RenderValueAs(o => o.CheckIn.ToString("HH:mm"));

        c.Add(o => o.CheckOut)
        .Css("table-bordered")
        .Filterable(filter)
        .RenderValueAs(o => o.CheckOut.ToString("HH:mm"));

        c.Add(o => o.StayTime)
      .Css("table-bordered")
      .Filterable(filter)
      .RenderValueAs(o => o.StayTime.ToString(@"hh\:mm\:ss"));

        // c.Add().Encoded(false).Sanitized(false).RenderComponentAs<AttendanceCheckout>(new List<Action<object>> { RefreshGrid }).SetWidth("10px").Titled("Check Out");
    };

    protected override async Task OnParametersSetAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        string url = $"odata/EmployeeAttendance";
        var query = new QueryDictionary<StringValues>();
        query.Add("grid-sorting", "Id__1__1");

        var client = new GridODataClient<EmployeeAttendance>(HttpClient, url, query, false, "ordersGrid", columns, 5)
            .Sortable(true)
            .Filterable(true)
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount()
             .SetExcelExport(true, true, "Room.xlsx")
            .ChangePageSize(true)
            .EmptyText("No data available")
            .SetKeyboard(true)
            .Searchable(true, false, false);

        _grid = client.Grid;
        _task = client.UpdateGrid();
        await _task;
    }

    public static async void RefreshGrid(object item)
    {
        await Component.UpdateGrid();
    }
    public static async Task RefreshGridAsync()
    {
        if (Component != null)
        {
            await Component.UpdateGrid();
        }
    }
}