@using GridBlazor
@using GridBlazor.Pages
@using GridShared
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using RMS.Client.Pages.GridButton
@inject NavigationManager NavigationManager
@inject HttpClient HttpClient
@inject AuthenticationStateProvider AuthenticationStateProvider

@if (_task.IsCompleted)
{
    <div class="row">
        <div class="col-sm-12">
            <GridComponent @ref="Component" T="PosDTO" Grid="@_grid"></GridComponent>
        </div>
    </div>
}
else
{
    <div class="col-sm-12" style="margin-top:40vh">
        <div class="loader-progress"></div>
    </div>
}

@code {
    [Parameter] public EventCallback OnRefresh { get; set; }

    private CGrid<PosDTO> _grid;
    private Task _task;
    private static GridComponent<PosDTO> Component;
    static bool filter = true;
    static AuthenticationState authState;

    Action<IGridColumnCollection<PosDTO>> columns = c =>
    {
        c.Add(o => o.Id).SetWidth("10%").Css("table-bordered").Titled("SN.").Filterable(filter);
        c.Add(o => o.CustomerName).Css("table-bordered").Filterable(filter);
        c.Add(o => o.Table).Css("table-bordered").Filterable(filter);
        c.Add(o => o.Status).Css("table-bordered").Filterable(filter);
        c.Add(o => o.GrandTotal).Css("table-bordered").Filterable(filter);

        c.Add().Encoded(false).Sanitized(false).RenderComponentAs<PosEditButton>().SetWidth("10px").Titled("Edit");
        c.Add().Encoded(false).Sanitized(false).RenderComponentAs<PosCompleteButton>(new List<Action<object>> { RefreshGrid }).SetWidth("10px").SetWidth("10px").Titled("Complete");
        c.Add().Encoded(false).Sanitized(false).RenderComponentAs<PosDeleteButton>(new List<Action<object>> { RefreshGrid }).SetWidth("10px").Titled("Delete");
    };

    protected override async Task OnParametersSetAsync()
    {
        authState = await AuthenticationStateProvider.GetAuthenticationStateAsync();
        string url = $"odata/PosDTO";
        var query = new QueryDictionary<StringValues>();
        var values = new string[] { $"Status__1__OnGoing" };
        query.Add("grid-filter", new StringValues(values));
        query.Add("grid-sorting", "Id__1__1");

        var client = new GridODataClient<PosDTO>(HttpClient, url, query, false, "ordersGrid", columns, 5)
            .Filterable(true)
            .ClearFiltersButton(true)
            .SetStriped(true)
            .WithMultipleFilters()
            .WithGridItemsCount()
            .SetExcelExport(true, true, "Employee.xlsx")
            .ChangePageSize(true)
            .EmptyText("No data available")
            .SetKeyboard(true)
            .Searchable(true, false, false);

        _grid = client.Grid;
        _task = client.UpdateGrid();
        await _task;
    }

    public static async void RefreshGrid(object item)
    {
        await Component.UpdateGrid();
        await CallParentMethod();
    }

    public static async Task RefreshGridAsync()
    {
        if (Component != null)
        {
            await Component.UpdateGrid();
        }
        await CallParentMethod();
    }

    private async Task CallParentMethod()
    {
        if (OnRefresh.HasDelegate)
        {
            await OnRefresh.InvokeAsync();
        }
    }
}
