@using GridShared
@using GridShared.Columns
@using GridShared.Utility
@using Microsoft.Extensions.Primitives
@using RMS.Client.Pages.GridComponent
@using RMS.Client.Shared.Popup
@using RMS.Client.Client
@using RMS.Dto
@using RMS.Dto.Enum
@inject AppClient client
@implements ICustomGridComponent<TableCon>
@inject NavigationManager NavigationManager

<button class='btn btn-sm btn-warning' style="border-radius:15px" @onclick="MyClickHandler" title="Edit"><i class="fa fa-pencil-square-o"></i></button>
<SimpleDailog Title="@Title" Show="@show" OnCloseDialog="ResetForm">
    @if (show)
    {
        <EditForm Model="model" OnValidSubmit="OnSave">
            <DataAnnotationsValidator />
            <ValidationSummary/>
            <div>
                <label class="col-form-label bold-font required-field">Enter Table Number</label>
                <input type="text" placeholder="Enter Table Number" @bind-value="model.TableNumber" class="form-control mb-2" />
                <ValidationMessage For="() => model.TableNumber" />
            </div>
            <div>
                <label class="col-form-label bold-font required-field">Enter Table Capacity</label>
                <input type="number" placeholder="Enter Table Capacity" @bind-value="model.TableCapacity" class="form-control mb-2" />
                <ValidationMessage For="() => model.TableCapacity" />
            </div>
            <div>
                <label class="col-form-label bold-font">Status</label>
                <select @bind="model.Status" class="form-control mb-2">
                    @foreach (var status in Enum.GetValues(typeof(TableStatus)).Cast<TableStatus>())
                    {
                        <option value="@status">@status</option>
                    }
                </select>
                <ValidationMessage For="() => model.Status" />
            </div>
            @if (process)
            {
                <div style="text-align:center">
                    <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
                </div>
            }
            <UiAlert Model="alert"></UiAlert>
            <hr />
            <button type="submit" class="btn btn-primary float-right col-md-4">Update</button>
        </EditForm>
        <br />
    }
</SimpleDailog>
@code {
    [Parameter]
    public TableCon Item { get; set; }

    [Parameter]
    public CGrid<TableCon> Grid { get; set; }

    [CascadingParameter]
    protected AlertModel? alert { get; set; }

    private Timer _timer;
    private int _delay = 2500;
    bool show = false;
    bool process = false;
    string Title = "Update Category";

    TableCon model = new();

    private async Task MyClickHandler(MouseEventArgs e)
    {
        show = true;
        model = await client.GetTableConById(Item.Id);
    }

    protected override async Task OnInitializedAsync()
    {
        alert?.Clear();
    }

    public async Task OnSave()
    {
        process = true;
        alert?.Clear();

        var response = await client.UpsertTableConAsync(model);
        if (response.IsSuccess)
        {
            // model = response.Result;
            alert?.SetSuccess(response.Message);
            await TableGrid.RefreshGridAsync();
        }
        else
            alert?.SetError(response.Message);

        process = false;
        StateHasChanged();
        _timer = new Timer(TimerCallback, null, _delay, Timeout.Infinite);
    }

    private void TimerCallback(Object o)
    {
        alert?.Clear();
        _timer.Dispose();
        StateHasChanged();
    }

    private void ResetForm()
    {
        model = new();
        show = false;
        process = false;
    }

}