@page "/user-profile"
@using Microsoft.AspNetCore.Components.Web
@using Microsoft.AspNetCore.Components.Authorization
@using System.ComponentModel.DataAnnotations
@using RMS.Dto.Auth
@inject NavigationManager navigationManager
@inject IdentityAuthenticationStateProvider authStateProvider
@inject IAuthorizeApi authorizeApi
@attribute [Authorize]

<div class="page-header mb-1 breadcumb-sticky">
    <div class="page-block">
        <div class="row align-items-center">
            <div class="col-md-12">
                <div class="page-header-title">
                    <h5 class="m-b-10">
                        User Profile
                    </h5>
                </div>
                <ul class="breadcrumb">
                    <li class="breadcrumb-item">
                        <a href="/"><i class="feather icon-home"></i></a>
                    </li>
                    <li class="breadcrumb-item"><a>User Profile</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="user-profile user-card mb-4 mt-0">
    <div class="card-header border-0 p-0 pb-0">
        <div class="cover-img-block">
            <img src="assets/images/profile/cover.jpg" alt="" class="img-fluid">
            <div class="overlay"></div>
            <div class="change-cover">
                <div class="dropdown">
                    <a class="drp-icon dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                       aria-expanded="false"><i class="icon feather icon-camera"></i></a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#">
                            <i class="feather icon-upload-cloud mr-2"></i>upload new
                        </a>
                        <a class="dropdown-item" href="#">
                            <i class="feather icon-trash-2 mr-2"></i>remove
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="card-body py-0">
        <div class="user-about-block m-0">
            <div class="row">
                <div class="col-md-4 text-center mt-n5">
                    <div class="change-profile text-center">
                        <div class="dropdown w-auto d-inline-block">
                            <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                               aria-expanded="false">
                                <div class="profile-dp">
                                    <div class="position-relative d-inline-block">
                                        <img class="img-radius img-fluid wid-100"
                                             src="assets/images/user/avatar-5.jpg" alt="User image">
                                    </div>
                                    <div class="overlay">
                                        <span>change</span>
                                    </div>
                                </div>
                                <div class="certificated-badge">
                                    <i class="fas fa-certificate text-c-blue bg-icon"></i>
                                    <i class="fas fa-check front-icon text-white"></i>
                                </div>
                            </a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="#">
                                    <i class="feather icon-upload-cloud mr-2"></i>upload new
                                </a>
                                <a class="dropdown-item" href="#">
                                    <i class="feather icon-trash-2 mr-2"></i>remove
                                </a>
                            </div>
                        </div>
                    </div>
                    <h5 class="mb-1">Lary Doe</h5>
                    <p class="mb-2 text-muted">UI/UX Designer</p>
                </div>
                <div class="col-md-8 mt-md-4">
                    <div class="row">
                        <div class="col-md-6">
                            <a  class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                <i class="feather icon-globe mr-2 f-18"></i>www.Codedthemes.net
                            </a>
                            <div class="clearfix"></div>
                            <a href="http://html.codedthemes.com/cdn-cgi/l/email-protection#f793929a98b793989a969e99d994989a"
                               class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                <i class="feather icon-mail mr-2 f-18"></i><span class="__cf_email__"
                                                                                 data-cfemail="d1b5b4bcbe91b5bebcb0b8bfffb2bebc">[email&#160;protected]</span>
                            </a>
                            <div class="clearfix"></div>
                            <a  class="mb-1 text-muted d-flex align-items-end text-h-primary">
                                <i class="feather icon-phone mr-2 f-18"></i>+1 9999-999-999
                            </a>
                        </div>
                        <div class="col-md-6">
                            <div class="media">
                                <i class="feather icon-map-pin mr-2 mt-1 f-18"></i>
                                <div class="media-body">
                                    <p class="mb-0 text-muted">4289 Calvin Street</p>
                                    <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                                    <p class="mb-0 text-muted">Maryland (21201)</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <ul class="nav nav-tabs profile-tabs nav-fill" id="myTab" role="tablist">
                        <li class="nav-item">
                            <a class="nav-link text-reset active" id="profile-tab" data-toggle="tab"
                               href="#profile" role="tab" aria-controls="profile" aria-selected="false">
                                <i class="feather icon-user mr-2"></i>Profile
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-reset" id="contact-tab" data-toggle="tab"
                               href="#chnagepwd" role="tab" aria-controls="contact" aria-selected="false">
                                <i class="feather icon-phone mr-2"></i>Change Password
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-reset" id="gallery-tab" data-toggle="tab"
                               href="#gallery" role="tab" aria-controls="gallery" aria-selected="false">
                                <i class="feather icon-image mr-2"></i>Gallery
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 order-md-2">
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Personal details</h5>
                        <button type="button" class="btn btn-primary btn-sm rounded m-0 float-right"
                                data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false"
                                aria-controls="pro-det-edit-1 pro-det-edit-2">
                            <i class="feather icon-edit"></i>
                        </button>
                    </div>
                    <div class="card-body border-top pro-det-edit collapse show" id="pro-det-edit-1">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
                                <div class="col-sm-9">
                                    Lary Doe
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                                <div class="col-sm-9">
                                    Male
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                                <div class="col-sm-9">
                                    16-12-1994
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Martail
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    Unmarried
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                                <div class="col-sm-9">
                                    <p class="mb-0 text-muted">4289 Calvin Street</p>
                                    <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                                    <p class="mb-0 text-muted">Maryland (21201)</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body border-top pro-det-edit collapse " id="pro-det-edit-2">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="Lary Doe">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1"
                                               name="customRadioInline1" class="custom-control-input" checked>
                                        <label class="custom-control-label"
                                               for="customRadioInline1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2"
                                               name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="customRadioInline2">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" value="1994-12-16">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Martail
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Select Marital Status</option>
                                        <option>Married</option>
                                        <option selected>Unmarried</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control">4289 Calvin Street,  Baltimore, near MD Tower Maryland, Maryland (21201)</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Contact Information</h5>
                        <button type="button" class="btn btn-primary btn-sm rounded m-0 float-right"
                                data-toggle="collapse" data-target=".pro-dont-edit" aria-expanded="false"
                                aria-controls="pro-dont-edit-1 pro-dont-edit-2">
                            <i class="feather icon-edit"></i>
                        </button>
                    </div>
                    <div class="card-body border-top pro-dont-edit collapse show" id="pro-dont-edit-1">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Mobile
                                    Number
                                </label>
                                <div class="col-sm-9">
                                    +1 9999-999-999
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Email
                                    Address
                                </label>
                                <div class="col-sm-9">
                                    <a href="http://html.codedthemes.com/cdn-cgi/l/email-protection"
                                       class="__cf_email__"
                                       data-cfemail="7a3e1f17153a1e15171b131454191517">[email&#160;protected]</a>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Twitter</label>
                                <div class="col-sm-9">
                                    phonixcoded
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Skype</label>
                                <div class="col-sm-9">
                                    phonixcoded demo
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body border-top pro-dont-edit collapse " id="pro-dont-edit-2">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Mobile
                                    Number
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="+1 9999-999-999">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Email
                                    Address
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Ema"
                                           value="Demo@domain.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Twitter</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="phonixcoded">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Skype</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="phonixcoded demo">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">other Information</h5>
                        <button type="button" class="btn btn-primary btn-sm rounded m-0 float-right"
                                data-toggle="collapse" data-target=".pro-wrk-edit" aria-expanded="false"
                                aria-controls="pro-wrk-edit-1 pro-wrk-edit-2">
                            <i class="feather icon-edit"></i>
                        </button>
                    </div>
                    <div class="card-body border-top pro-wrk-edit collapse show" id="pro-wrk-edit-1">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                                <div class="col-sm-9">
                                    Designer
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Skills</label>
                                <div class="col-sm-9">
                                    C#, Javascript, Scss
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                                <div class="col-sm-9">
                                    Codedthemes
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body border-top pro-wrk-edit collapse " id="pro-wrk-edit-2">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Occupation</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="Designer">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Email
                                    Address
                                </label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Ema"
                                           value="Demo@domain.com">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Jobs</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                        <input type="checkbox" class="custom-control-input"
                                               id="pro-wrk-chk-1" checked>
                                        <label class="custom-control-label" for="pro-wrk-chk-1">C#</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                        <input type="checkbox" class="custom-control-input"
                                               id="pro-wrk-chk-2" checked>
                                        <label class="custom-control-label"
                                               for="pro-wrk-chk-2">Javascript</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                        <input type="checkbox" class="custom-control-input"
                                               id="pro-wrk-chk-3" checked>
                                        <label class="custom-control-label" for="pro-wrk-chk-3">Scss</label>
                                    </div>
                                    <div class="custom-control custom-checkbox form-check d-inline-block mr-2">
                                        <input type="checkbox" class="custom-control-input"
                                               id="pro-wrk-chk-4">
                                        <label class="custom-control-label" for="pro-wrk-chk-4">Html</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="chnagepwd" role="tabpanel" aria-labelledby="changepass-tab">
                <div class="card">
                    <div class="card-body d-flex align-items-center justify-content-between">
                        <h5 class="mb-0">Personal details</h5>
                        <button type="button" class="btn btn-primary btn-sm rounded m-0 float-right"
                                data-toggle="collapse" data-target=".pro-det-edit" aria-expanded="false"
                                aria-controls="pro-det-edit-1 pro-det-edit-2">
                            <i class="feather icon-edit"></i>
                        </button>
                    </div>
                    <div class="card-body border-top pro-det-edit collapse show" id="pro-det-edit-1">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
                                <div class="col-sm-9">
                                    Lary Doe
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                                <div class="col-sm-9">
                                    Male
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                                <div class="col-sm-9">
                                    16-12-1994
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Martail
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    Unmarried
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                                <div class="col-sm-9">
                                    <p class="mb-0 text-muted">4289 Calvin Street</p>
                                    <p class="mb-0 text-muted">Baltimore, near MD Tower Maryland,</p>
                                    <p class="mb-0 text-muted">Maryland (21201)</p>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="card-body border-top pro-det-edit collapse " id="pro-det-edit-2">
                        <form>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Full Name</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" placeholder="Full Name"
                                           value="Lary Doe">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Gender</label>
                                <div class="col-sm-9">
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline1"
                                               name="customRadioInline1" class="custom-control-input" checked>
                                        <label class="custom-control-label"
                                               for="customRadioInline1">Male</label>
                                    </div>
                                    <div class="custom-control custom-radio custom-control-inline">
                                        <input type="radio" id="customRadioInline2"
                                               name="customRadioInline1" class="custom-control-input">
                                        <label class="custom-control-label"
                                               for="customRadioInline2">Female</label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Birth Date</label>
                                <div class="col-sm-9">
                                    <input type="date" class="form-control" value="1994-12-16">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">
                                    Martail
                                    Status
                                </label>
                                <div class="col-sm-9">
                                    <select class="form-control" id="exampleFormControlSelect1">
                                        <option>Select Marital Status</option>
                                        <option>Married</option>
                                        <option selected>Unmarried</option>
                                    </select>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label font-weight-bolder">Location</label>
                                <div class="col-sm-9">
                                    <textarea class="form-control">4289 Calvin Street,  Baltimore, near MD Tower Maryland, Maryland (21201)</textarea>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label"></label>
                                <div class="col-sm-9">
                                    <button type="submit" class="btn btn-primary">Save</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <div class="tab-pane fade" id="gallery" role="tabpanel" aria-labelledby="gallery-tab">
                <div class="row text-center">
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l1.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl1.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l2.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl2.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l3.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl3.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l4.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl4.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l5.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl5.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                    <div class="col-xl-3 col-lg-4 col-sm-6">
                        <a href="assets/images/light-box/l6.jpg" data-lightbox="roadtrip">
                            <img src="assets/images/light-box/sl6.jpg"
                                 class="img-fluid m-b-10 img-thumbnail bg-white" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@* @code {
    private async Task OnSubmit()
    {
        alerts?.Clear();
        message = string.Empty;

        var result = await authStateProvider.ChangePassword(Model);

        if (result.Item1)
        {
            message = "Password changed successfully!";
            alerts.SetSuccess(message);
            Model = new();
            isSuccess = true;
            StateHasChanged();
        }
        else
        {
            message = "Current Password is Incorrect!, Please enter current password.";
            alerts.SetError(message);
            isError = true;
            StateHasChanged();
        }
        _timer = new Timer(TimerCallback, null, _delay, Timeout.Infinite);
    }
    
} *@

@code {

    UserInfo userInfo = new();
    string userEmail = string.Empty;
    string userRoles = string.Empty;
    int AllowedBatchCreation;
    int AllowsStudentPerBatch;

    private bool show = false;
    string Title = string.Empty;
    string MessageBody = "Thank you!";
    bool IsError = false;
    bool IsSuccess = false;
    bool TaskCompleted = false;
    bool Loading = false;

    bool showPasswordChange = false;
    bool showProfileChange = false;

    [CascadingParameter]
    private AlertModel alerts { get; set; } = new();

    private Timer _timer;
    private int _delay = 4000;
    private ChangePassword Model { get; set; } = new ChangePassword();

    protected override async Task OnInitializedAsync()
    {
        alerts ??= new AlertModel();
        userInfo = await authorizeApi.GetUserInfo();
        userEmail = userInfo.ExposedClaims.Values.ElementAt(2);
        userRoles = userInfo.Roles.FirstOrDefault();
    }

    private async void ResetForm()
    {
        show = false;
        showPasswordChange = false;
        showProfileChange = false;
        userInfo = await authorizeApi.GetUserInfo();
        StateHasChanged();
    }

    public void OnPasswordChangeClick()
    {
        show = true;
        showPasswordChange = true;
        showProfileChange = false;
        Title = "Change Password";
        StateHasChanged();
    }
    public void OnProfileEditClick()
    {
        show = true;
        showPasswordChange = false;
        showProfileChange = true;
        Title = "Modify Profile";
        StateHasChanged();
    }
    private void TimerCallback(Object o)
    {
        alerts?.Clear();
        _timer.Dispose();
        StateHasChanged();
    }

    private void Clear()
    {
        Model = new();
        alerts?.Clear();
    }
}